<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuhongyu.mapper.LelveMapper" >
  <resultMap id="BaseResultMap" type="com.wuhongyu.entity.Lelve" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lelve" property="lelve" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="oldid" property="oldid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, lelve, price, remarks, oldid
  </sql>

  <select id="selectAll" resultType="com.wuhongyu.entity.Lelve">
    select l.*, o.name oldmanname
    from lelve l
    inner join oldman o on l.oldid = o.id
    <if test="lelve.lelve !=null and lelve.lelve!=''">
      where l.lelve = #{lelve.lelve}
    </if>
  </select>

  <select id="queryByOldid" resultType="com.wuhongyu.entity.Lelve">
    select l.*, o.name oldmanname
    from lelve l
    inner join oldman o on l.oldid = o.id
    <where>
      o.id = #{oldid}
    </where>
  </select>



  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wuhongyu.entity.LelveExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lelve
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lelve
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lelve
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuhongyu.entity.LelveExample" >
    delete from lelve
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuhongyu.entity.Lelve" >
    insert into lelve (id, lelve, price, 
      remarks, oldid)
    values (#{id,jdbcType=INTEGER}, #{lelve,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{remarks,jdbcType=VARCHAR}, #{oldid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wuhongyu.entity.Lelve" >
    insert into lelve
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lelve != null" >
        lelve,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="oldid != null" >
        oldid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lelve != null" >
        #{lelve,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="oldid != null" >
        #{oldid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuhongyu.entity.LelveExample" resultType="java.lang.Integer" >
    select count(*) from lelve
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lelve
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.lelve != null" >
        lelve = #{record.lelve,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.oldid != null" >
        oldid = #{record.oldid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lelve
    set id = #{record.id,jdbcType=INTEGER},
      lelve = #{record.lelve,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      oldid = #{record.oldid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuhongyu.entity.Lelve" >
    update lelve
    <set >
      <if test="lelve != null" >
        lelve = #{lelve,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="oldid != null" >
        oldid = #{oldid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuhongyu.entity.Lelve" >
    update lelve
    set lelve = #{lelve,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      remarks = #{remarks,jdbcType=VARCHAR},
      oldid = #{oldid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>